* {
  --sky: #c6dbf0;
  --carbon: #a9a9a9;
  --watermelon: #ff3b3f;
  --neutral: #efefef;
  --charcoal: #2e4057;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--sky);
  border-radius: 0;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: var(--watermelon) !important;
  color: var(--emerald) !important;
}

.category-btn:hover span {
  color: var(--neutral) !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

::placeholder {
  color: var(--charcoal);
  letter-spacing: 1px;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: 1px solid var(--sky);
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 0;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
  .search-bar {
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar {
    width: 150px;
  }
}
@media screen and (max-width: 420px) {
  .navbar {
    flex-direction: column !important;
    gap: 3px;
  }
  .navbar img {
    height: 40px;
  }

  .search-bar {
    height: 30px;
  }
}
